nav {
  background-color: blanchedalmond;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul,
li {
  display: flex;
  gap: 16px;
  font-size: medium;
}
a {
  font-size: larger;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
